---

---
<div class="post-meta flex items-center my-4 text-gray-700">
    <div class="flex items-center mr-4">
        <div class="rounded-full mr-2 bg-gray-200 rounded-full w-[30px] h-[30px]"></div>
        <div class="post-author">By <a href="#"
                                       class="btn-link font-bold">BosNaufal</a>
        </div>
    </div>
    <div class="post-date">June 25, 2024</div>
</div>