---

---
<form x-data="{ isFocus: false }"
      :class="isFocus ? 'border-primary' : 'border-black'"
      class="border-4 flex items-center bg-white rounded-3xl mt-4 overflow-x-hidden">
    <input @focus="isFocus = true" @blur="isFocus = false" type="text"
           class="input w-full py-2 xl:py-4 text-sm text-black xl:text-lg focus:outline-none focus:border-none px-6"
           placeholder="your email here..."/>
    <button class="btn btn-secondary py-2 xl:py-4 h-auto hover:bg-secondary/110 hover:border-transparent rounded-none xl:px-8">
        SUBSCRIBE
    </button>
</form>